Vimal Kumar Singh

In [1]:
import sys
from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
input_path = "s3://ftfinanace/LoanData.csv"
output_path = "s3://ftfinanace/output/"

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:

ft_finanace = spark.read.option("inferSchema", "true").option("header", "true").csv(input_path)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [4]:
ft_finanace.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

23315

In [5]:
ft_finanace.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|disbursed_amount|asset_cost|  ltv|branch_id|Date_of_Birth|Employment_Type|DisbursalDate|MobileNo_Avl_Flag|Aadhar_flag|PAN_flag|VoterID_flag|Driving_flag|Passport_flag|PERFORM_CNS_SCORE|DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS|CREDIT_HISTORY_LENGTH|NO_OF_INQUIRIES|loan_default|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|           36439|     65850|56.19|       64|     14-06-90|  Self employed|     28-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           48749|     69303|72.15|       67|     1/1/1991|       Salaried|    10/9/2018|                1|          1|       0|           0|           0|            0|              783|                                  0|            2yrs 6mon|              0|           0|
|           55348|     66340| 85.0|        2|     16-08-93|  Self employed|     31-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           1|
|           48849|     64133|77.96|      217|     1/1/1989|  Self employed|     13-10-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           40394|     59386|70.72|       74|     31-12-74|  Self employed|     14-09-18|                1|          1|       0|           0|           0|            0|               14|                                  1|            3yrs 1mon|              1|           0|
|           51803|     67466| 79.3|      162|     23-11-64|  Self employed|     17-08-18|                1|          1|       0|           0|           0|            0|              300|                                  0|           15yrs 2mon|              0|           0|
|           61947|    109094|58.21|      251|    1/10/1989|  Self employed|     16-08-18|                1|          0|       0|           1|           0|            0|              737|                                  0|           1yrs 10mon|              0|           0|
|           51301|     61815| 85.0|       67|     1/1/1995|       Salaried|     26-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           65882|     80461|84.51|      255|     15-06-94|  Self employed|     15-10-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           34639|     69717|50.49|       34|     23-11-82|  Self employed|     26-10-18|                1|          1|       0|           0|           0|            0|              300|                                  0|           3yrs 10mon|              0|           1|
|           51996|     63051| 85.0|      147|     1/1/1984|       Salaried|     3/9/2018|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           64269|     85632|77.07|      146|     15-02-90|       Salaried|     24-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           68377|     90512|79.55|       20|    5/12/1975|  Self employed|     28-08-18|                1|          1|       0|           0|           0|            0|              654|                                  1|            2yrs 0mon|              1|           0|
|           61256|     73000|84.99|        2|    11/9/1995|       Salaried|     21-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           46949|     64600|74.92|       67|     29-10-75|  Self employed|     20-08-18|                1|          1|       0|           0|           0|            0|              524|                                  0|            0yrs 0mon|              0|           0|
|           56333|     80271| 73.5|        7|     28-02-84|  Self employed|     26-10-18|                1|          1|       0|           0|           0|            0|              653|                                  0|           0yrs 11mon|              0|           0|
|           73717|     94315|79.41|      165|    2/11/1975|       Salaried|     30-09-18|                1|          1|       0|           0|           0|            0|               16|                                  0|            1yrs 1mon|              0|           0|
|           54373|     73891|77.14|      152|     21-10-90|  Self employed|     30-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           72817|     82820|89.35|        2|   11/10/1994|       Salaried|     31-10-18|                1|          1|       0|           0|           0|            0|              753|                                  1|            1yrs 1mon|              0|           0|
|           78151|    107074|74.25|      135|     5/6/1987|  Self employed|     25-10-18|                1|          1|       1|           1|           0|            0|                0|                                  0|            0yrs 0mon|              0|           1|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
only showing top 20 rows

In [6]:
ft_finanace.printSchema()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- disbursed_amount: integer (nullable = true)
 |-- asset_cost: integer (nullable = true)
 |-- ltv: double (nullable = true)
 |-- branch_id: integer (nullable = true)
 |-- Date_of_Birth: string (nullable = true)
 |-- Employment_Type: string (nullable = true)
 |-- DisbursalDate: string (nullable = true)
 |-- MobileNo_Avl_Flag: integer (nullable = true)
 |-- Aadhar_flag: integer (nullable = true)
 |-- PAN_flag: integer (nullable = true)
 |-- VoterID_flag: integer (nullable = true)
 |-- Driving_flag: integer (nullable = true)
 |-- Passport_flag: integer (nullable = true)
 |-- PERFORM_CNS_SCORE: integer (nullable = true)
 |-- DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS: integer (nullable = true)
 |-- CREDIT_HISTORY_LENGTH: string (nullable = true)
 |-- NO_OF_INQUIRIES: integer (nullable = true)
 |-- loan_default: integer (nullable = true)

In [7]:
updatedftdata = ft_finanace.withColumn("current_date", lit(datetime.now()))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [8]:
updatedftdata.printSchema()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- disbursed_amount: integer (nullable = true)
 |-- asset_cost: integer (nullable = true)
 |-- ltv: double (nullable = true)
 |-- branch_id: integer (nullable = true)
 |-- Date_of_Birth: string (nullable = true)
 |-- Employment_Type: string (nullable = true)
 |-- DisbursalDate: string (nullable = true)
 |-- MobileNo_Avl_Flag: integer (nullable = true)
 |-- Aadhar_flag: integer (nullable = true)
 |-- PAN_flag: integer (nullable = true)
 |-- VoterID_flag: integer (nullable = true)
 |-- Driving_flag: integer (nullable = true)
 |-- Passport_flag: integer (nullable = true)
 |-- PERFORM_CNS_SCORE: integer (nullable = true)
 |-- DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS: integer (nullable = true)
 |-- CREDIT_HISTORY_LENGTH: string (nullable = true)
 |-- NO_OF_INQUIRIES: integer (nullable = true)
 |-- loan_default: integer (nullable = true)
 |-- current_date: timestamp (nullable = false)

In [9]:
df = (spark.read.format('csv').option('header', 'True').option(
    "inferSchema", "true").load('s3://ftfinanace/LoanData.csv'))

df.show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|disbursed_amount|asset_cost|  ltv|branch_id|Date_of_Birth|Employment_Type|DisbursalDate|MobileNo_Avl_Flag|Aadhar_flag|PAN_flag|VoterID_flag|Driving_flag|Passport_flag|PERFORM_CNS_SCORE|DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS|CREDIT_HISTORY_LENGTH|NO_OF_INQUIRIES|loan_default|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|           36439|     65850|56.19|       64|     14-06-90|  Self employed|     28-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           48749|     69303|72.15|       67|     1/1/1991|       Salaried|    10/9/2018|                1|          1|       0|           0|           0|            0|              783|                                  0|            2yrs 6mon|              0|           0|
|           55348|     66340| 85.0|        2|     16-08-93|  Self employed|     31-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           1|
|           48849|     64133|77.96|      217|     1/1/1989|  Self employed|     13-10-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           40394|     59386|70.72|       74|     31-12-74|  Self employed|     14-09-18|                1|          1|       0|           0|           0|            0|               14|                                  1|            3yrs 1mon|              1|           0|
|           51803|     67466| 79.3|      162|     23-11-64|  Self employed|     17-08-18|                1|          1|       0|           0|           0|            0|              300|                                  0|           15yrs 2mon|              0|           0|
|           61947|    109094|58.21|      251|    1/10/1989|  Self employed|     16-08-18|                1|          0|       0|           1|           0|            0|              737|                                  0|           1yrs 10mon|              0|           0|
|           51301|     61815| 85.0|       67|     1/1/1995|       Salaried|     26-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           65882|     80461|84.51|      255|     15-06-94|  Self employed|     15-10-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           34639|     69717|50.49|       34|     23-11-82|  Self employed|     26-10-18|                1|          1|       0|           0|           0|            0|              300|                                  0|           3yrs 10mon|              0|           1|
|           51996|     63051| 85.0|      147|     1/1/1984|       Salaried|     3/9/2018|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           64269|     85632|77.07|      146|     15-02-90|       Salaried|     24-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           68377|     90512|79.55|       20|    5/12/1975|  Self employed|     28-08-18|                1|          1|       0|           0|           0|            0|              654|                                  1|            2yrs 0mon|              1|           0|
|           61256|     73000|84.99|        2|    11/9/1995|       Salaried|     21-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           46949|     64600|74.92|       67|     29-10-75|  Self employed|     20-08-18|                1|          1|       0|           0|           0|            0|              524|                                  0|            0yrs 0mon|              0|           0|
|           56333|     80271| 73.5|        7|     28-02-84|  Self employed|     26-10-18|                1|          1|       0|           0|           0|            0|              653|                                  0|           0yrs 11mon|              0|           0|
|           73717|     94315|79.41|      165|    2/11/1975|       Salaried|     30-09-18|                1|          1|       0|           0|           0|            0|               16|                                  0|            1yrs 1mon|              0|           0|
|           54373|     73891|77.14|      152|     21-10-90|  Self employed|     30-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           72817|     82820|89.35|        2|   11/10/1994|       Salaried|     31-10-18|                1|          1|       0|           0|           0|            0|              753|                                  1|            1yrs 1mon|              0|           0|
|           78151|    107074|74.25|      135|     5/6/1987|  Self employed|     25-10-18|                1|          1|       1|           1|           0|            0|                0|                                  0|            0yrs 0mon|              0|           1|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
only showing top 20 rows

In [10]:
# Create View
df.createOrReplaceTempView('df_ftfinanace_View')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
spark.sql("select * from df_ftfinanace_View").show(5)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|disbursed_amount|asset_cost|  ltv|branch_id|Date_of_Birth|Employment_Type|DisbursalDate|MobileNo_Avl_Flag|Aadhar_flag|PAN_flag|VoterID_flag|Driving_flag|Passport_flag|PERFORM_CNS_SCORE|DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS|CREDIT_HISTORY_LENGTH|NO_OF_INQUIRIES|loan_default|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
|           36439|     65850|56.19|       64|     14-06-90|  Self employed|     28-09-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           48749|     69303|72.15|       67|     1/1/1991|       Salaried|    10/9/2018|                1|          1|       0|           0|           0|            0|              783|                                  0|            2yrs 6mon|              0|           0|
|           55348|     66340| 85.0|        2|     16-08-93|  Self employed|     31-08-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           1|
|           48849|     64133|77.96|      217|     1/1/1989|  Self employed|     13-10-18|                1|          1|       0|           0|           0|            0|                0|                                  0|            0yrs 0mon|              0|           0|
|           40394|     59386|70.72|       74|     31-12-74|  Self employed|     14-09-18|                1|          1|       0|           0|           0|            0|               14|                                  1|            3yrs 1mon|              1|           0|
+----------------+----------+-----+---------+-------------+---------------+-------------+-----------------+-----------+--------+------------+------------+-------------+-----------------+-----------------------------------+---------------------+---------------+------------+
only showing top 5 rows

In [13]:
df.repartition(2).write.mode("overwrite").save(
    "s3://ftfinanace/output/sales_final_parquet")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [14]:
df.select('branch_id').show()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+
|branch_id|
+---------+
|       64|
|       67|
|        2|
|      217|
|       74|
|      162|
|      251|
|       67|
|      255|
|       34|
|      147|
|      146|
|       20|
|        2|
|       67|
|        7|
|      165|
|      152|
|        2|
|      135|
+---------+
only showing top 20 rows